{% extends 'index.html' %}
{% block content %}

<div data-role="page" id="about" data-theme="d" class="background">

    <div data-theme="a" data-role="header">
        <a data-icon="back" data-rel="back" data-theme="b" data-transition="slide" class="nav-btn">Back</a>
        <h3 id="header-left">EatingDays</h3>

    </div><!-- header -->

    <div data-role="content">

        <p>
    			This is an application specifically designed for the elder population of Singapore. More than two-thirds of the elderly population in Singapore are eating unhealthily, whether is it because of their misconception of what foods are healthy are just their plain negligence over their own diet.
        <p>
        <p>
                This application is specifically designed with the goal in mind that the elderly population would be able to lead a healthier lifestyle through eating healthier meals, whether it be changing their diets or choosing healthier alternatives in their daily lives.
        </p>
        <p>
                This application is designed by a group of members from Dunman High School for their entry into the National Infocomm Club Awards.
        </p>
        <p>
                Brought to you by Placeholder
        </p>

        <p>Contact Us</p>
        <ul>
            <li><a href = "#nothing">Facebook</a></li>
            <li><a href = "http://www.dhs.sg">Our School Website</a></li>
        </ul>
    </div><!--content -->

</div><!-- page -->



{% endblock %}